.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
}

.vides{
  display: flex;
  justify-content: space-around;
}

.historial{
  display: flex;
  justify-content: space-around;

}
.score1 {
  float: left;
  display: flex;
  font-size: 20px;
  justify-content: space-around;

}

.score1 p:hover {
  font-size: 30px;
}
