.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
}

.box{
  display: flex;
  margin:auto;
}

.vides{
  display: flex;
  justify-content: space-around;
}

#score1{
  margin-right: 16%;
}

.score1 {
  display: flex;
  font-size: 20px;
  
}

.score1 p:hover {
  font-size: 30px;
}
